@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Montserrat:400,500,600,900&display=swap");

/* 기본 세팅 */
html {
  width: 100%;
  height: 100%;
  /*모바일 새로고침 막는 코드*/
  overscroll-behavior: contain; 
  /*cursor: url('../images/point.png'), auto;*/
}

body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", Sans-serif;
  overflow: hidden;
}
/* progress */
.progress {
  /*display: none; */
  background: #222222;
  color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
}
.progress-bar {
  position: relative;
  display: block;
  width: 0%;
  height: 6px;
  background: linear-gradient(to right, #796aff, #fda085);
}
.progress-text {
  display: block;
  font: 12px;
  margin-top: 60px;
  position: absolute;
  text-align: center;
  top: 55%;
  width: 100%;
  color: #fff;
  z-index: 99;
}
.loader {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading_image {
  width: 150px;
  height: 150px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
.loading_image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  opacity: 0.8;
  background: linear-gradient(#796aff, #fda085);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: about-ani 3s linear infinite;
}
.loading_image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  opacity: 0.8;
  background: linear-gradient(#f66aba, #fda085);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: about-ani2 4s linear infinite;
}

.cfixed:after,
.container:after {
  display: block;
  content: "";
  clear: both;
}

/* 섹션 세로 택*/
.section_tag {
  display: block;
  position: absolute;
  left: 2vw;
  top: 25vh;
  transform: rotate(-90deg);
  width: 60px;
  height: 12px;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
  z-index: 999;
}

/* 마우스 스크롤 애니메이션 박스 */
.mouse {
  position: fixed;
  left: 50%;
  bottom: 16px;
  width: 24px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 20px;
  text-align: center;
  /*cursor: pointer;*/
}

.mouse_prev {
  transform: translateX(-50%);
}

.mouse_next {
  transform: translateX(-50%);
}

.mouse span {
  display: inline-block;
  width: 4px;
  height: 8px;
  border-radius: 6px;
  background: #f0f0f0;
  animation: mouse-ani 1s ease-in-out infinite;
}

@keyframes mouse-ani {
  0% {
    margin-top: 0;
    opacity: 1;
  }

  60% {
    margin-top: 10px;
    opacity: 0.5;
  }

  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

/*전체레이아웃*/
#wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  perspective: 300px;
}

/*헤더 영역*/
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 9999;
}

.logo {
  position: absolute;
  left: 3vw;
  top: 22px;
  display: inline-block;
}

.logo a {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
}

.logo svg {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.logo svg .st0,
.logo svg .st1,
.logo svg .ship,
 .logo svg .nino {
  transform-origin: 50% 50%;
}
.logo svg .ship,
.logo svg .nino {
  transition: all 0.5s;
}
.logo svg:hover .st0,
.logo svg:hover .st1 {
  opacity: 1;
}
.logo svg:hover .ship {
  transform: translate(-3px,3px) scale(1.5);
}
.logo svg:hover .nino {
  transform: translate(-5px,5px) scale(0.9);
}
.logo svg:hover .st0 {
  animation: about-ani 6s linear reverse infinite;
}
.logo svg:hover .st1 {
  animation: about-ani 4s linear infinite;
}
.logo svg:hover .st3,
.logo svg:hover .st4,
.logo svg:hover .st5 {
  animation: fire-ani .2s ease infinite;
}
@keyframes fire-ani {
  0% {opacity: 1}
  0% {opacity: .1}
}

.gnb {
  display: none;
}

.gnb_m_box {
  position: fixed;
  right: -100%;
  top: 0;
  width: 50vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10%;
}

.gnb_m {
  position: relative;
  text-align: center;
  margin-top: 15vh;
}

.gnb_m li {
  position: relative;
  width: 100%;
  margin-top: 2vh;
}

.gnb_m > li > a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 25px 0;
}
.gnb_m > li > a::after {
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  top: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
}

.gnb_m li:hover a {
  color: #ffda00;
}
.gnb_m li:hover a::after {
  background: #ffda00;
  transform: scale(2);
}

.gnb_m li.on a {
  color: #ffda00;
}
.gnb_m li.on a::after {
  background: #ffda00;
  transform: scale(2);
}

.gnb_m_btn {
  position: fixed;
  right: 6vw;
  top: 32px;
  width: 42px;
  height: 42px;
  z-index: 999;
  cursor: pointer;
  font-size: 0;
}

.gnb_m_btn > span {
  margin: 6px 0 0 6px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #fff;
  transition: all 0.6s;
}

.gnb_m_btn > span:nth-child(4),
.gnb_m_btn > span:nth-child(7),
.gnb_m_btn > span:nth-child(8) {
  background: none;
}

.gnb_m_btn.open > span {
  background: #fff;
}

.gnb_m_btn.open > span:nth-child(2),
.gnb_m_btn.open > span:nth-child(3),
.gnb_m_btn.open > span:nth-child(6) {
  background: none;
}

/*메인 영역*/
#main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

section {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.parallax_group {
  position: relative;
  height: 100%;
  width: 100vw;
  overflow: visible !important;
  transform-style: preserve-3d;
}

.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sky {
  background: url("../images/main2.jpg") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.sky.active {
  background: url("../images/sky.jpg") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.moon {
  background: url("../images/moon.png") no-repeat center center;
  background-size: contain;
  transform: translateZ(-300px) scale(2);
  z-index: 2;
  animation: aniballoon 3s ease-in-out infinite;
}

.moon.active {
  background: url("../images/balloon.png") no-repeat center center;
  background-size: contain;
  transform: translateZ(-300px) scale(2);
  z-index: 2;
  animation: aniballoon 3s ease-in-out infinite;
}

@keyframes aniballoon {
  0%,
  100% {
    transform: translate3d(0, -1%, -300px) scale(2);
  }

  50% {
    transform: translate3d(0, 1%, -300px) scale(2);
  }
}

.people1 {
  background: url("../images/people1.png") no-repeat center center;
  background-size: cover;
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.people2 {
  background: url("../images/people2.png") no-repeat center center;
  background-size: cover;
  transform: translateZ(-200px) scale(1.6666);
  z-index: 4;
}

.people3 {
  background: url("../images/people3.png") no-repeat center center;
  background-size: cover;
  transform: translateZ(-100px) scale(1.3333);
  z-index: 5;
}

.people4 {
  background: url("../images/people4.png") no-repeat center center;
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 6;
}

.people1.active {
  background: url("../images/cloud4.png") no-repeat center center;
  background-size: cover;
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.people2.active {
  background: url("../images/cloud3.png") no-repeat center center;
  background-size: cover;
  transform: translateZ(-200px) scale(1.6666);
  z-index: 4;
}

.people3.active {
  background: url("../images/cloud2.png") no-repeat center center;
  background-size: cover;
  transform: translateZ(-100px) scale(1.3333);
  z-index: 5;
}

.people4.active {
  background: url("../images/cloud1.png") no-repeat center center;
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 6;
}

.txt {
  display: none;
  position: absolute;
  display: inline-block;
  text-align: center;
  left: 50%;
  top: 50%;
  height: auto;
  transform: translate(-50%, -30vh);
  letter-spacing: 10px;
  z-index: 99;
  cursor: pointer;
}

.txt a span {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
  transition: all .6s;
}

.txt a:hover span {
  color: rgba(255, 255, 255, 0.25);
  text-shadow: none;
}

.txt1 {
  font-size: 40px;
  font-weight: 700;
}

.txt2 {
  display: inline-block;
  padding-top: 15px;
  font-size: 20px;
}

.txt.active a span {
  color: rgba(255, 50, 0, 1);
  text-shadow: 0 0 25px rgba(255, 50, 0, 0.5);
  animation: hue-ani 2s linear infinite;
}

.txt.active a:hover span {
  color: rgba(255, 50, 0, 0.25);
  animation: none;
  text-shadow: none;
}
@keyframes hue-ani {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
/* 어바웃 미 영역*/
section#about-me {
  background: #000;
}

.square {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 340px;
  height: 340px;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

.square > span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  font-size: 0;
}

.square:hover > span {
  border: none;
  background: rgba(249, 0, 71, 0.8);
}

.square span:nth-child(1) {
  animation: about-ani 6s linear infinite;
}

.square span:nth-child(2) {
  animation: about-ani 4s linear infinite;
}

.square span:nth-child(3) {
  animation: about-ani2 10s linear infinite;
}

@keyframes about-ani {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes about-ani2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.about_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 40px 60px;
  color: #fff;
  transition: 0.5s;
  z-index: 1000;
  text-align: center;
}

.about_content h2 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}

.about_content p {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  font-family: "Nanum Gothic", sans-serif;
}

.about_content a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid #fff;
  padding: 6px 18px;
  color: #fff;
  font-weight: 600;
  border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

.about_content a:hover {
  background: #fff;
  color: #333;
}

.about_content span {
  font-weight: bold;
}

.square:hover .about_content span:nth-of-type(1) {
  color: #ffda00;
}

#square-ie {
  display: none;
}

/*포트폴리오 영역*/
section#portfolio {
  background: linear-gradient(
    #000000,
    #070601,
    #0b1c39,
    #57548b,
    #99b9fb,
    #5dd9f8
  );
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: 100% 5400px;
  transition: background-position 1s;
}

.pf_box {
  position: absolute;
  display: block;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.pf_title {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.pf_circle {
  display: inline-block;
  width: 100%;
  max-width: 470px;
  border-radius: 50%;
  animation: pf-ani 5s ease-in-out infinite;
}

@keyframes pf-ani {
  0%,
  100% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(5%);
  }
}

.pf_circle > div {
  position: relative;
  display: inline-block;
  width: 85%;
  border-radius: 50%;
  overflow: hidden !important;
  transition: all 0.2s;
}

.pf_circle > div:hover {
  box-shadow: 0px 0px 30px rgba(250, 255, 255, 0.6);
}

.pf_circle > div:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 240, 0.8);
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.pf_circle > div:hover:after {
  opacity: 0.86;
}

.pf_circle > div > .info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  z-index: 20;
  opacity: 0;
  transition: all 0.3s;
  text-align: center;
}

.pf_circle > div:hover .info {
  opacity: 1;
}

.pf_circle > div .info h3 {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #111;
  font-weight: bold;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.05em;
}

.pf_circle > div .info span {
  display: block;
  font-size: 15px;
  color: #555555;
  font-weight: bold;
  font-family: "Nanum Gothic", sans-serif;
}

.info > .portlink {
  display: inline-block;
  width: 140px;
  text-align: center;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 12px 10px;
  margin: 20px 5px 0 0;
  background: #ffda00;
  border-radius: 10px;
}

.info > .originlink {
  display: inline-block;
  width: 140px;
  text-align: center;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 12px 10px;
  margin: 10px 0 0 0;
  background: #fff;
  border-radius: 10px;
}

.portlink:hover,
.originlink:hover {
  text-decoration: underline;
}

.pf_circle img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
}

.pf_circle:hover img {
  transform: scale(1.1);
}

/* 포트폴리오 이름 영역*/
.pf_name {
  position: absolute;
  left: 53%;
  bottom: 10%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 380px;
  z-index: 999;
}

.pf_name ul {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.pf_name li {
  width: 50%;
  padding: 5px 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  float: left;
  display: block;
}

.pf_name li:hover {
  color: #ffda00;
  font-weight: 600;
}

.pf_name_circle {
  display: none;
  overflow: hidden;
}

.pf_name li.on {
  color: #ffda00;
  font-weight: 600;
}

/* work 영역 ---------------------*/
section#works {
  background: linear-gradient(#5dd9f8, #0b1c39);
}

/* SCROLL */
/* 스크롤바의 width */
::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 색 */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
  background: #fafafa;
  border-radius: 10px;
}

/* 위 아래 버튼 (버튼 없애기를 함) */
::-webkit-scrollbar-button {
  display: none;
}

.big_txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  font-weight: 900;
  font-family: "Montserrat", Sans-serif;
  color: rgba(255, 255, 255, 0.1);
}

.big_txt:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/wave2.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: repeat-x;
  animation: txt-ani 2s linear infinite;
  background-position-y: 120px;
  transition: background-position 1s;
}

.big_txt.txt-fill:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/wave2.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: repeat-x;
  animation: txt-ani 2s linear infinite;
  background-position-y: 40px;
  transition: background-position 1s;
}

@keyframes txt-ani {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 200px;
  }
}

.works_wrap {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.works_container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  z-index: 99;
  overflow: hidden;
}

.works_conbox {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 50vmin;
  height: 50vmin;
  background: #f0f0f0;
  margin-bottom: 20%;
  border-radius: 50px;
  overflow: hidden;
  transition: 1s;
}

.works_conbox > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.works_conbox iframe {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.works_conbox .btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
  background: #000;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.works_conbox .btn:hover {
  background: #fff;
  color: #000;
  text-decoration: underline;
}
.works_conbox:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2);
}

/* works의 사진 넣는 곳*/
.works_container > div:nth-child(2) > a {
  background: url("../images/work/portfolio.jpg") no-repeat center;
  background-size: cover;
}

.works_container > div:nth-child(3) > a {
  background: url("../images/work/app.jpg") no-repeat center;
  background-size: cover;
}

.works_container > div:nth-child(4) > a {
  background: url("../images/work/hotel.jpg") no-repeat center;
  background-size: cover;
}

.works_container > div:nth-child(5) > a {
  background: url("../images/work/under_armour.jpg") no-repeat center;
  background-size: cover;
}

.works_container > div:nth-child(6) > a {
  background: url("../images/work/instagram.jpg") no-repeat center;
  background-size: cover;
}

.paddingtop100 {
  padding-top: 100vh;
}

/*contact 영역*/
section#contact {
  background: #000;
}

.pointer {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99;
  mix-blend-mode: difference;
  animation: point-ani 1s ease-in-out infinite;
}

@keyframes point-ani {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.big_txt2_box {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: con-ani 2s ease-in-out infinite;
}

.big_txt2_box > a {
  display: inline-block;
  min-width: 320px;
  font-size: 0;
}

.big_txt2 {
  position: relative;
  display: inline;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", Sans-serif;
  color: #fff;
  cursor: url("../images/mailto.png"), auto;
}

.big_txt2_box:hover .txt_on {
  color: #ffda00;
  font-weight: 700;
}

@keyframes con-ani {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -80%);
  }
}

.qrcode {
  position: absolute;
  left: 50%;
  top: -60%;
  transform: translate(-50%, -50%);
  width: 120px;
  z-index: 999;
  cursor: none;
}

.qrcode::after {
  content: "Search QR Code";
  color: #fff;
  font-size: 0.875em;
  font-family: "Nanum Gothic", Sans-serif;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  display: block;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
}

.qrcode:hover::after {
  opacity: 0;
}

.qrcode img {
  width: 100%;
}

.qrcode div {
  padding-top: 5px;
  font-size: 0.875em;
  font-weight: bold;
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
}

/*푸터 영역*/
footer#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*background: #ff8b21;*/
  z-index: 999;
}

.footer_box {
  position: relative;
  width: 95%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  border-top: 2px solid #fff;
  text-align: center;
}

.copy {
  position: relative;
  padding: 30px 0 20px 0;
}

.copy span {
  display: inline-block;
  color: #f0f0f0;
  font-size: 12px;
  padding: 0 5px;
  vertical-align: middle;
  line-height: 100px;
  font-weight: 600;
}

.copy img {
  width: 15vmin;
  height: 15vmin;
  vertical-align: middle;
}
