/* 태블릿 버전*/
@media all and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    .container {
        width: 95%;
    }

    .section_tag {
        display: block;
        position: absolute;
        left: 5vw;
        top: 25vh;
        width: 100px;
        height: 10px;
        font-size: 14px;
        font-weight: 600;
    }

    .logo a {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 80px;
    }

    .gnb {
        display: block;
        position: relative;
        overflow: hidden;
        float: right;
        vertical-align: middle;
        line-height: 100px;
    }

    .gnb>li {
        position: relative;
        float: left;
        padding: 5px 20px;
    }

    .gnb>li>a {
        position: relative;
        color: #fff;
        font-size: 16px;
        font-family: 'Montserrat', Sans-serif;
        padding-bottom: 4px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .bar {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background: #ffda00;
        transition: 0.3s;
    }

    .gnb>li>a:hover>.bar {
        width: 100%;
    }

    .gnb_m_btn {
        display: none;
    }

    .gnb_m_box {
        display: none;
    }

    /*home 텍스트 */
    .txt {
        transform: translate(-50%, -100%);
    }

    .txt1 {
        font-size: 60px;
    }

    .txt2 {
        font-size: 25px;
    }

    /*어바웃 영역*/
    .square {
        width: 400px;
        height: 400px;
    }

    .about_content p {
        font-size: 15px;
        line-height: 20px;
    }

    /*포트폴리오 영역*/
    .pf_box {
        top: 50%;
        width: 80%;
    }
    .pf_circle>div {
        width: 90%;
    }
    .pf_circle>div .info h3 {
        font-size: 22px;
    }

    .pf_name {
        position: absolute;
        left: 57%;
        bottom: 50%;
        transform: translate(25%, 55%);
        width: 90%;
        max-width: 460px;
        z-index: 999;
    }

    .pf_name li {
        width: 100%;
        padding: 10px 0px;
        font-size: 16px;
    }
    .info>.portlink,
    .info>.originlink {
        font-size: 16px;
    }

    /*푸터영역*/
    .footer_box {
        width: 90%;
    }
    .copy {
        position: relative;
        padding: 30px 0 20px 0;
    }

    .copy span {
        font-size: 14px;
    }

    .copy img {
        width: 120px;
        height: 100px;
        vertical-align: middle;
    }

    .big_txt {
        font-size: 160px;
    }

    .big_txt2 {
        font-size: 36px;
    }

    .qrcode {
        top: -100%;
        width: 180px;
    }
    .pointer {
         width: 300px;
        height: 300px;
    }
}

/*====================================================*/
/* pc 버전 */
@media all and (min-width: 1280px) {
    ::-webkit-scrollbar {
        width: 20px;
    }

    #header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

    .gnb {
        position: relative;
        overflow: hidden;
        float: right;
        vertical-align: middle;
        line-height: 40px;
        margin-top: 32px;
    }

    .gnb>li {
        position: relative;
        float: left;
        padding: 0px 25px;
    }

    .gnb>li>a {
        color: #ffffff;
        font-size: 18px;
        font-family: 'Montserrat', Sans-serif;
        padding-bottom: 4px;
        text-transform: uppercase;
    }

    .txt {
        transform: translate(-50%, -100%);
    }

    .txt1 {
        font-size: 100px;
    }

    .txt2 {
        font-size: 30px;
    }

    .section_tag {
        display: block;
        position: absolute;
        left: 10vw;
        width: 100px;
        height: 10px;
        font-size: 16px;
    }

    .container {
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }

    .container-pf {
        position: relative;
        width: 1200px;
        /*height: 100vh;*/
        height: 100%;
        margin: 0 auto;
    }

    .pf_box {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
    }

    .pf_title {
        display: inline-block;
        width: 100%;
    }

    .pf_name_circle {
        display: none;
        position: absolute;
        right: 0;
        top: 50%;
        width: 500px;
        height: 500px;
        transform: translate(40%, -50%);
        z-index: 1;
        margin-top: 32px;
    }

    .pf_name_circle img {
        width: 100%;
        height: 100%;
        animation: scrollsun 10s ease-in-out infinite;
    }

    @keyframes scrollsun {

        0%,
        50%,
        100% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(40deg);
        }

        75% {
            transform: rotate(-40deg);
        }
    }

    .pf_name_circle:before {
        content: "";
        color: #fff;
        font-size: 11px;
        text-align: center;
        position: absolute;
        left: 100px;
        top: 48%;
        width: 33px;
        height: 33px;
        background: url('../images/scroll_btn.png') no-repeat top;
        animation-name: scrollRotate;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        z-index: 99;
    }

    @keyframes scrollRotate {
        100% {
            transform: rotate(-360deg);
        }
    }

    .pf_name_circle:after {
        content: "scroll";
        color: #fff;
        font-size: 14px;
        text-align: center;
        position: absolute;
        left: 100px;
        top: 56%;
        width: 33px;
        height: 13px;
    }

    .pf_name {
        position: absolute;
        left: 57%;
        bottom: 50%;
        transform: translateY(55%);
        z-index: 999;
    }

    .pf_name ul {
        position: relative;
        display: inline-block;
        width: 100%;
        overflow: visible;
    }

    .pf_name li {
        position: absolute;
        right: 50px;
        top: 0px;
        width: 300px;
        display: inline-block;
        color: #fff;
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
        text-align: right;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.6s;
    }

    .pf_name li:nth-child(7) {
        top: -240px;
        margin-right: -70px;
        opacity: 0;
    }

    .pf_name li:nth-child(8) {
        top: -180px;
        margin-right: -70px;
        opacity: 0.1;
    }

    .pf_name li:nth-child(9) {
        top: -120px;
        margin-right: -30px;
        opacity: 0.2;
    }

    .pf_name li:nth-child(10) {
        top: -60px;
        margin-right: -10px;
        opacity: 0.5;
    }

    .pf_name li:nth-child(1) {
        margin-right: 0px;
        opacity: 1;
    }

    .pf_name li:nth-child(2) {
        top: 60px;
        margin-right: -10px;
        opacity: 0.5;
    }

    .pf_name li:nth-child(3) {
        top: 120px;
        margin-right: -30px;
        opacity: 0.2;
    }

    .pf_name li:nth-child(4) {
        top: 180px;
        margin-right: -70px;
        opacity: 0.1;
    }

    .pf_name li:nth-child(5) {
        top: 240px;
        margin-right: -100px;
        opacity: 0.0;
    }

    .pf_name li:nth-child(6) {
        top: 240px;
        margin-right: -100px;
        opacity: 0.0;
    }

    .pf_name li.offtop {
        top: -240px;
        margin-right: -100px;
        opacity: 0.0;
    }

    .pf_name li.prev3 {
        top: -180px;
        margin-right: -70px;
        opacity: 0.1;
    }

    .pf_name li.prev2 {
        top: -120px;
        margin-right: -30px;
        opacity: 0.2;
    }

    .pf_name li.prev1 {
        top: -60px;
        margin-right: -10px;
        opacity: 0.5;
    }

    .pf_name li.on {
        top: 0px;
        margin-right: 0px;
        opacity: 1;
        font-weight: 600;
    }

    .pf_name li.next1 {
        top: 60px;
        margin-right: -10px;
        opacity: 0.5;
    }

    .pf_name li.next2 {
        top: 120px;
        margin-right: -30px;
        opacity: 0.2;
    }

    .pf_name li.next3 {
        top: 180px;
        margin-right: -70px;
        opacity: 0.1;
    }

    .pf_name li.offbot {
        top: 240px;
        margin-right: -100px;
        opacity: 0.0;
    }

    .pf_name li:hover {
        transform: translateX(-20px);
        color: #ffda00;
        font-weight: 600;
    }

    #about-me {
        position: relative;
    }

    .big_txt {
        font-size: 200px;
    }

    .big_txt2 {
        font-size: 52px;
    }
}

/*====================================================*/
@media all and (min-width: 1720px) {
    .pf_name_circle {
        display: block;
    }
}

/* IE10+ */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    /* Enter your style code */
    #progress {
        display: none;
    }
    section {
        display: none;
    }

    header {
        display: none;
    }

    section#about-me {
        display: block;
        background: none;
    }

    .square {
        display: none;
    }

    #square-ie {
        display: block;
    }
}