
@font-face {
    font-family: '맑은 고딕';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/MalgunGothicr.eot'); /* IE9 Compat Modes */
    src: url('fonts/MalgunGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/MalgunGothic.otf') format('opentype'), /* Android, ios */
         url('fonts/MalgunGothic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/MalgunGothic.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/MalgunGothic.ttf')  format('truetype'),; /* Safari, Android, iOS */
}